.main {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.title {
    text-align: center;
    margin: 5%;
}

body {
    opacity: 1;
    transition: 1.8s opacity;
}

body.fade {
    opacity: 0;
    transition: none;
}

.assignments {
    text-align: center;
}

ul {
    list-style-position: inside;
    padding-right: 3%;
}

li {
    margin: 2%;
}

.dice_link {
    text-align: center;
}

.bottom {
    margin: 5%;
}